* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: pink;
    font-size: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#funImg {
    height: 300px;
    width: 380px;
}

div {
    margin-top: 150px;
    font-size: 30px;
}

button {
    border: solid 3px black;
    padding: 10px;
    font-size: 2rem;
    border-radius: 90px;
    background-color: red;
    margin: 30px
}